       <div class="modal fade" tabIndex = "-1" id="loginModal"role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header text-center">
                        <h4 class="modal-title w-100">Login</h4>
                      </div>
                      <div class="modal-body">
                        <form>
                                  <div class="form-group">
                                    <label for="email">Email:</label>
                                    <input type="email" class="form-control validate">
                                  </div>
                         </form>
                                  <form>
                                    <div class="form-group">
                                     <label for="password">Password:</label>
                                     <input type="password" class="form-control validate">
                                      </div>
                                  </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <a class="btn btn-success" href="/:customerFirstName/:customerLastName/customerProfile"role="button">Login</a>
                      </div>
                    </div>
                  </div>
                </div>