<!DOCTYPE html>

<html>
<head>
	<title>Restaurant Analytics Dashboard</title>

	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style type="text/css">
	#ui{
		background-color: #C0C0C0;
		padding:30px;
		margin-top: 20px;
		border-radius: 10px;
	}

	#ui label, h1 {
		color: #fff;
	}

	.box{
		width: 270px;
		height: 300px;
		background: #ADD8E6;
    	margin: 0px 10px;
    	transition: 1s;
    	float: left;

	}
	.box:hover{
		transform: scale(1.3);
		background: #C0C0C0;
		z-index: 2;
		box-shadow: 2px 2px 2px #000;
		
	}
</style>

		

</head>

<body>
	<div class="container">

		<div class="row">

			<div class="col-lrg-3"></div>
			<div class="col-lrg-6">
				<div id="ui">
					<h1 class="text-center">Restaurant Analytics Dashboard</h1>
					<br>
					<form class="form-group">

						<br>
						<div class="row">
							<div class="col-lg-6">
								<label>Analytic</label>

							</div>

							<div class="col-lg-6">
								<label>Analytic</label>
								
							</div>

							
						</div>
						<br>
						<div class="row">
							<div class="col-lg-6">
								<label>Analytic</label>
								
							</div>

							<div class="col-lg-6">
								<label>Analytic</label>
								
							</div>
							
						</div>
						<br>
						<div class="row">
							<div class="col-lg-6">
								<label>Analytic</label>
								
							</div>

							<div class="col-lg-6">
								<label>Analytic</label>
								
							</div>
							
						</div>
						
						<br>
						
						<br>
						<br>

						

						
					</form>
					

				</div>
			</div>
			<div class="col-lrg-3"></div>
			
		</div>
		<div class="row">

			<div class="col-lrg-3"></div>
			<div class="col-lrg-6">
				<div id="ui"></div>
			</div>
			<div class="col-lrg-3"></div>
		</div>
		<br>

		<div class="row">
			<div class="box"></div>
			<div class="box"></div>
			<div class="box"></div>
			<div class="box"></div>
		</div>


		
	</div>

</body>


</html>