<!DOCTYPE html>
<html>
<head>
	<title>Registration</title>
<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/stylesheets/form.css">

</head>
<body>
	<%- include('./partials/navbar.ejs') %>
	<div class="container">

		<div class="row">
			<div style="width: 100%">
				<div id="ui">
					<h1 class="text-center">Restaurant Owner Sign Up</h1>
					<br>
					<form action="/makeRestaurant" method="POST" enctype="multipart/form-data" class="form-group">

						<div class="row">
							<div class="col-lg-6">
								<label>Restaurant:</label>
								<input  required="required" type="text" name="name" class="form-control" placeholder="Enter your restaurant name">
							</div>

							<div class="col-lg-6">
								<label>Business phone:</label>
								<input required="required" type="text" pattern="^\d{3}-\d{3}-\d{4}$" title="Example: 403-321-1230" name="phoneNumber" class="form-control" placeholder="Enter your business phone (###-###-####)">
							</div>
							
						</div>
						<br>

						<label>Address:</label>
						<input required="required" type="text" name="address" class="form-control" placeholder="Enter your address">
						<br>
						<label>Pricing (On a scale from 1-4, where 1 is very affordable, and 4 is fine dining):</label>
						<input required="required" type="number" name="pricing" class="form-control" value="1" min="1" max="4">
						<br>
						<label>Restaurant Tags (e.g "Burgers", "Chinese", etc. ). Separate tags using a comma:</label>
						<input type="text" name="tags" class="form-control">
						<br>
						<label>Restaurant Profile Picture:</label>
						<input style="color:white;" required="required" type="file" name="restaurantImageLink">
						<br>
						<h2 style="color: white;">Owner Information</h2>
						<br>

						<div class="row">
							<div class="col-lg-6">
								<label>First name:</label>
								<input required="required" type="text" name="ownerFirstName" class="form-control" placeholder="Enter your first name">
							</div>

							<div class="col-lg-6">
								<label>Last name:</label>
								<input required="required" type="text" name="ownerLastName" class="form-control" placeholder="Enter your last name">
							</div>
							
						</div>
						<br>
						<div class="row">
							<div class="col-lg-6">
								<label>Title:</label>

								<input required="required" type="text" name="ownerTitle" class="form-control" placeholder="Enter your title">
							</div>

							<div class="col-lg-6">
								<label>E-mail:</label>
								<input required="required" type="email" name="ownerEmail" class="form-control" placeholder="Enter your E-mail">
							</div>
							
						</div>
						<br>

						<div class="row">
							<div class="col-lg-6">
								<label>Phone number:</label>
								<input required="required" type="text" pattern="^\d{3}-\d{3}-\d{4}$" title="Example: 403-321-1230" name="ownerPhoneNumber" class="form-control" placeholder="Enter your phone number (###-###-####)">
							</div>

							<div class="col-lg-6">
								<label>Password:</label>
								<input required="required" type="password" name="password" class="form-control" placeholder="Enter your password">
							</div>

							
						</div>
						<br>
						<br>

						<input required="required" type="submit" name="submit" value="Submit" class="btn btn-lg submitBtn">

						
					</form>
					

				</div>
			</div>
			<div class="col-lrg-3"></div>
			
		</div>
		
	</div>

</body>
</html>