    <html>


        <head>

            <title><%= restaurant.name %></title>
            <!-- JS, Popper.js, and jQuery (Bootstrap files) -->
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
             <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
             <link rel="stylesheet" href="/stylesheets/profilePage.css">
        </head>

        <body>
        <div class="jumbotron">
            <div class = "container d-flex flex-column justify-content-start">
                <h1 class="display-10 text-center"> <%= restaurant.name %> </h1>
                <hr class="my-10" color="black" >
                <div class =" d-flex flex-row align-items-start justify-content-around ">
                    <div class = "d-flex flex-column justify-content-between border">
                        <div class="card" style="width: 20rem;">
                            <img class="card-img-top" src="https://www.w3schools.com/images/picture.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Contact Us </h5>
                                <p class="card-text">Phone: </p>
                                <p class="card-text">Email: </p>
                                <p class="card-text">Website: </p>
                                <a href="#" class="btn btn-primary">order Now</a>
                            </div>
                        </div>
                        <div class =" d-flex flex-row align-items-baseline justify-content-start ">
                            <p > More</p>
                            <hr width = 250 color=#666;>
                        </div>
                    </div>
                        <div class = "d-flex flex-column">
                            <h1> Restaurant : <%= restaurant.name %> </h1>
                             <p> Phone: <%= restaurant.phoneNumber %></p>
                             <p> Website: </p>
                             <div class = "d-flex flex-row align-items-center ">
                                <h1>Star Rating </h1>
                                <span class="fa fa-star checked ml-3"></span>
                                 <span class="fa fa-star checked ml-3"></span>
                                  <span class="fa fa-star checked ml-3"></span>
                                  <span class="fa fa-star ml-3"></span>
                                  <span class="fa fa-star ml-3"></span>
                        </div>
                        <div class = "d-flex flex-column justify-content-between">
                            <div class = "d-flex flex-row align-items-center justify-content-start">
                                <a class="btn btn-primary btn" href="#" role="button">About </a>
                                <a class="btn btn-primary btn" href="#" role="button">More</a>
                             </div>
                        </div>
                        <hr class="my-10" width = 500px color=#666;>
                        <div class = "d-flex flex-row align-items-center justify-content-between">
                            <h1> History </h1>
                            <a class="btn btn-primary btn" href="#" role="button">Edit </a>
                        </div>
                         <hr class="my-10" width = 500px color=#666;>
                <div class = "d-flex flex-row align-items-center justify-content-between">
                    <h1> Stories </h1>
                    <a class="btn btn-primary btn" href="#" role="button">Edit </a>
                </div>
            </div>
        </div>
    </div>

            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <!-- CSS only for bootstrap-->

            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        </body>
    </html>