.banner{
    height:12%; 
    width:100%; 
    object-fit: cover; 
    opacity: 0.4;
}

.title{
    font-weight: 400;
}

.restCard{
    display: inline-block; 
    width: 45%; 
    margin: 0.5% 2% 0.5% 2%; 
    border: #999999 solid 0.5px; 
    border-radius: 5px;
}

.restCardImg{
    height: 30%; 
    width: 100%; 
    object-fit: cover; 
    margin-bottom: 2%;
}

.restCardText {
    padding: 1% 2% 1% 2%;
    color: #636363
}

.scrollable {
    width: 90%; 
    height:45%; 
    overflow-x: scroll; 
    overflow-x: auto; 
    overflow-y: hidden; 
    white-space: nowrap; 
    margin: 2% 5% 2% 5%
}

.scrollable::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  .scrollable::-webkit-scrollbar-track {
    background: #e3e8eb;        /* color of the tracking area */
  }
  .scrollable::-webkit-scrollbar-thumb {
    background-color: rgb(168, 170, 179);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #e3e8eb;  /* creates padding around scroll thumb */
  }