body, html {
  height: 100%;
}
.checked {
            color: orange;
         }
.complex_form {
    font-size:20px;
    font-weight:bold;
    margin:-20px -10px 20px -10px;
    padding:10px 0px 10px 25px;
    color:white;
    background-color: #3C3D3F;
    border-radius: 7px 7px 0px 0px;
}
.bg {
  /* The image used */
  background-image: url('https://mdbootstrap.com/img/Photos/Others/architecture.jpg');

  /* Full height */
  height: 50%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.complex_form{
    margin-top:40px;
    margin-left:20px;
    border-radius: 10px;
    padding: 10px;
    display:flex;
    flex-direction: column;
    height: 75%;
    width: 100%;
}

.complex_form .form_title{
    font-size:20px;
    margin-bottom: 20px;
    font-weight:bold;
    text-align: center;
    color:white;
    background-color: #3C3D3F;

}


.complex_form .form_element{
     margin-bottom:10px;
     font-size: 20px;
     border-radius:15px;

}
.complex_form .button{
 background-color: #008CBA;
 margin-top: 20px;
}

.restaurantInfo {
    margin-bottom: 2%;
}

.restaurantInfoTitle {
    text-decoration: underline;
    font-weight: 500;
}
